    <!-- BEGIN: Content-->
<section id="data-list-view" class="data-list-view-header">
  @if (ViewBag.er != null)
{
    <p class="alert alert-success">@ViewBag.er</p>
}
  <!-- DataTable starts -->
  <div class="table-responsive">
    <table class="table data-list-view">
      <thead>
          <tr>
          <th></th>
          <th>ردیف</th>
          <th> نام  کاربر </th>
          <th> شماره تماس  </th>
           <th>  رمز </th>
             <th>  آدرس </th>
          <th> عملیات</th>
        </tr>
      </thead>
      <tbody>
@if (ViewBag.list != null)
{
  int i=1;
    foreach (var item in ViewBag.list)
    {
          <tr>
          <td></td>
          <td class="product-category"> @i</td>
          <td class="product-name">@item.UserNameUs</td>
            <td class="product-category">@item.PhoneUs </td>
            <td class="product-category">@item.PasswordUs </td>
            <td class="product-category">@item.AddressUs </td>
            
             <td class="product-category">
               <img src="/fileupload/@item.ProfileImageUs" style="width: 25px;border-radius: 50%;" alt="">
                </td>
           <td class="product-action">
             <div class="col-lg-3 col-md-3 mb-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                  
                    <a href="/admin/users/del/@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('آیا از حذف رکورد مورد نظر مطمئن هستید؟')">حذف</a>
                  @* <button type="button" class="btn btn-success  btn-sm">ارسال</button>
                  <button type="button" class="btn btn-warning  btn-sm">  منتظراقدام</button> *@
                </div>
              </div>
          </td>
        </tr>
        i++;

    }
}
      

       




      </tbody>
    </table>
  </div>
  <!-- DataTable ends -->

  <!-- add new sidebar starts -->
 
  <!-- add new sidebar ends -->
</section>
<!-- Data list view end -->
