@model ViewModels.AdminViewModel.Message.Vm_Message
<!--
Template Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
Author: PixInvent
Website: http://www.pixinvent.com/
Contact: hello@pixinvent.com
Follow: www.twitter.com/pixinvents
Like: www.facebook.com/pixinvents
Purchase: https://www.rtl-theme.com/vuexy-admin-html-template/
Renew Support: https://www.rtl-theme.com/vuexy-admin-html-template/
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.

-->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    
    <link rel="apple-touch-icon" href="../../../app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="..\..\..\app-assets\images\ico\favicon.ico">
    <link href="..\..\..\app-assets\images\fonts.googleapis.css" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="..\..\..\app-assets\vendors\css\vendors-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="..\..\..\app-assets\vendors\css\editors\quill\katex.min.css">
    <link rel="stylesheet" type="text/css" href="..\..\..\app-assets\vendors\css\editors\quill\monokai-sublime.min.css">
    <link rel="stylesheet" type="text/css" href="..\..\..\app-assets\vendors\css\editors\quill\quill.snow.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\colors.min.css">
    <link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\components.min.css">
    <link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\themes\dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\themes\semi-dark-layout.min.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\core\menu\menu-types\horizontal-menu.min.css">
    <link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\core\colors\palette-gradient.min.css">
    <link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\pages\app-email.min.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\custom-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style-rtl.css">
    <!-- END: Custom CSS-->

  
    <!-- BEGIN: Header-->
   
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
       @if (ViewBag.err != null)
            {
                <p class="alert alert-success">@ViewBag.err</p>
            }
      <div class="content-area-wrapper" style="margin-top: 0 !important ;">
        <div class="sidebar-left">
          <div class="sidebar"><div class="sidebar-content email-app-sidebar d-flex">
         
  <span class="sidebar-close-icon">
    <i class="feather icon-x"></i>
  </span>
  <div class="email-app-menu">
    <div class="form-group form-group-compose text-center compose-btn">
      <button type="button" class="btn btn-primary btn-block my-2" data-toggle="modal" data-target="#composeForm"><i class="feather icon-edit"></i>ساختن</button>
    </div>
    <div class="sidebar-menu-list">
      <div class="list-group list-group-messages font-medium-1">
        <a href="/admin/msg/index" class="list-group-item list-group-item-action border-0 pt-0 active">
          <i class="font-medium-5 feather icon-mail mr-50"></i>  صندوق ورودی<span class="badge badge-primary badge-pill float-right">@ViewBag.resiver</span>
        </a>
        <a href="/admin/msg/send" class="list-group-item list-group-item-action border-0"><i class="font-medium-5 fa fa-paper-plane-o mr-50"></i>  ارسال شد<span class="badge badge-warning badge-pill float-right">@ViewBag.sender</span></a>
        <a href="#" class="list-group-item list-group-item-action border-0"><i class="font-medium-5 feather icon-edit-2 mr-50"></i>  پیش نویس<span class="badge badge-warning badge-pill float-right">4</span> </a>
        <a href="#" class="list-group-item list-group-item-action border-0"><i class="font-medium-5 feather icon-star mr-50"></i> ستاره دار</a>
        <a href="#" class="list-group-item list-group-item-action border-0"><i class="font-medium-5 feather icon-info mr-50"></i> هرزنامه ها<span class="badge badge-danger badge-pill float-right">3</span> </a>
        <a href="#" class="list-group-item list-group-item-action border-0"><i class="font-medium-5 feather icon-trash mr-50"></i> زباله ها</a>
      </div>
      <hr>
      <h5 class="my-2 pt-25">برچسب ها</h5>
      <div class="list-group list-group-labels font-medium-1">
        <a href="#" class="list-group-item list-group-item-action border-0 d-flex align-items-center"><span class="bullet bullet-success mr-1"></span>  شخصی</a>
        <a href="#" class="list-group-item list-group-item-action border-0 d-flex align-items-center"><span class="bullet bullet-primary mr-1"></span>  شرکت</a>
        <a href="#" class="list-group-item list-group-item-action border-0 d-flex align-items-center"><span class="bullet bullet-warning mr-1"></span>  مهم</a>
        <a href="#" class="list-group-item list-group-item-action border-0 d-flex align-items-center"><span class="bullet bullet-danger mr-1"></span>  خصوصی</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade text-left" id="composeForm" tabindex="-1" role="dialog" aria-labelledby="emailCompose" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <form action="/admin/msg/add_msg" method="POST" style="width: 100%;" enctype="multipart/form-data">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-text-bold-600" id="emailCompose">پیام جدید</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-1">
        <div class="form-label-group mt-1">
         	<select class="select2 form-control" asp-for="ResiverMess" asp-items="@ViewBag.list">	</select>
          <label for="emailTo">به</label>
        </div>
        <div class="form-label-group">
          <input type="text" asp-for="SubjectMess" class="form-control" placeholder="موضوع"  required>
          <label for="emailSubject">موضوع</label>
        </div>
       
        <div id="email-container">
          <textarea placeholder="پیام خود را  بنویسید" asp-for="TextMess" cols="30" rows="10" style="width: 100%;" required></textarea>
        </div>
        <div class="form-group mt-2">
          <div class="custom-file">
            <input type="file" class="custom-file-input" asp-for="file">
            <label class="custom-file-label" for="emailAttach">افزودن فایل</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        
        <input type="Reset" value="لغو" class="btn btn-white" data-dismiss="modal">
        <button type="submit" class="btn btn-primary ">ارسال</button>
      </div>
    </div>
    </form>
  </div>
</div>

          </div>
        </div>
        <div class="content-right">
          <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body"><div class="app-content-overlay"></div>

    <!-- Email list Area -->
    
    <!--/ Email list Area -->
    <!-- Detailed Email View -->
    @if (@ViewBag.msg != null)
    {
        foreach (var item in @ViewBag.msg)
    {
      <div class="email-app-area">
        <div >
        <div class="email-detail-header card">
          
          
        <div class="email-scroll-area">
            <div class="row aler alert-info">
                <div class="col-12">
                    <div class="email-label ml-2 my-2 pl-1 ">
                        <span class="mr-1 bullet bullet-primary bullet-sm"></span><small class="mail-label" style="color:black">موضوع: @item.SubjectMess </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card px-1">
                        <div class="card-header email-detail-head ml-75">
                            <div class="user-details d-flex justify-content-between align-items-center flex-wrap">
                                <div >
                                    <img src="~/app-assets/images/icons/alert.png"  width="61" >
                                </div>
                                <div class="mail-items">
                                    <h4 class="list-group-item-heading mb-0">پشتیبانی و بخش فروش  شرکت</h4>
                                    <div class="email-info-dropup dropdown">
                                        <span class="dropdown-toggle font-small-3" id="dropdownMenuButton200" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                         sevenstar
                                        </span>
                                        <div class="dropdown-menu dropdown-menu-right p-50" aria-labelledby="dropdownMenuButton200">
                                            <div class="px-25 dropdown-item">از جانب:<strong> abaldersong@utexas.edu </strong></div>
                                            <div class="px-25 dropdown-item">به:<strong> johndoe@ow.ly </strong></div>
                                            <div class="px-25 dropdown-item">تاریخ:<strong> @item.DateMess</strong></div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <div class="mail-meta-item">
                                <div class="mail-time mb-1">تاریخ ارسال:</div>
                                <div class="mail-date">@item.DateMess</div>
                            </div>
                        </div>
                        <div class="card-body mail-message-wrapper pt-2 mb-0">
                            <div class="mail-message">
                            <p>@item.TextMess</p>
                                     </div>
                            <div class="mail-attachements d-flex">
                                <i class="feather icon-paperclip font-medium-5 mr-50"></i>
                                <span>پیوست ها</span>
                            </div>
                        </div>
                        <div class="mail-files py-2">
                            <div class="chip chip-primary">
                              <div class="chip-body py-50">
                                @if (item.pathfile!=null)
                                {
                                    <a target="blank" href="/fileupload/@item.pathfile" class="chip-text" style="color: white;">دانلود فایل ضمیمه</a>
                                }else
                                {
                                    <a href="#" class="chip-text" style="color: white;">ضمیمه ندارد</a>
                                }
                                
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
          </div>
          
    }
    }
   
     
    <!--/ Detailed Email View -->


          
        </div>
      </div>
    
    <!-- END: Content-->


    <!-- BEGIN: Customizer-->
    
    <!-- End: Customizer-->

    <!-- Buynow Button-->
  
    <!-- END: Footer-->




    <!-- BEGIN: Page JS-->
    <script src="..\..\..\app-assets\js\scripts\pages\app-email.min.js"></script>
    <!-- END: Page JS-->

 