@using hampad.Models;
<!DOCTYPE html>

<html class="loading" lang="en" data-textdirection="rtl">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    
    
    @if(menu.Title != null)
    {
        <meta name="author" content="@menu.Title">
        <meta name="description" content="@menu.Title">
        <meta name="keywords"  content="@menu.Title">
    <title>@menu.Title</title>
    }
    else
    {
    <title>عنوان وب سایت شما</title>
    }

    <link rel="apple-touch-icon" href="~/app-assets/images/icons/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/images/icons/favicon.ico">
    <link href="~/app-assets/images/fonts.googleapis.css" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/vendors-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/charts/apexcharts.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/extensions/tether-theme-arrows.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/extensions/tether.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/extensions/shepherd-theme-default.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/colors.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/components.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/themes/dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/themes/semi-dark-layout.min.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/core/menu/menu-types/horizontal-menu.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/core/colors/palette-gradient.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/pages/dashboard-analytics.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/pages/card-analytics.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/plugins/tour/tour.min.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/custom-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style-rtl.css">
    <!-- END: Custom CSS-->
    <!-- begin: user CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/pages/users.min.css">
    <!-- END: user CSS-->
    <!-- begin list productpage:  CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/plugins/extensions/noui-slider.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/pages/app-ecommerce-shop.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/extensions/nouislider.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/ui/prism.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/forms/select/select2.min.css">
    <!-- END: list CSS-->

    <!-- BEGIN: Page slider-->

    <link rel="stylesheet" type="text/css" href="~\app-assets\css-rtl\plugins\extensions\swiper.min.css">
    <!-- END: Page CSS-->
        @* ///////////////////////////richat *@
        @Html.Raw(menu.Richat)
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu content-left-sidebar email-application navbar-floating footer-static  "
    data-open="hover" data-menu="horizontal-menu" data-col="content-left-sidebar">

    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu navbar-fixed navbar-shadow navbar-brand-center">
        <div class="navbar-header d-xl-block d-none">
            @if(menu.logo != null)
            {
            <img src="/fileupload/@menu.logo" alt="محل لوگوی شما" >
            }
            else
            {
            <img src="/app-assets/images/icons/defaultlogo.png" alt="محل لوگوی شما" >
            }

        </div>
        <div class="navbar-wrapper">
            <div class="navbar-container content">
                <div class="navbar-collapse" id="navbar-mobile">
                    <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                        <ul class="nav navbar-nav">
                            <li class="nav-item mobile-menu d-xl-none mr-auto"><a
                                    class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                                        class="ficon feather icon-menu"></i></a></li>
                        </ul>

                        @if (User.Identity.IsAuthenticated)
                        {<a href="/home/orgin" class="btn btn-outline-primary d-xl-block d-lg-block d-md-block d-none">
                            <i class="feather icon-plus-circle"></i>
                            بررسی اصالت کالا
                        </a> /**/
                        /**/
                        /**/
                        /**/
                        }
                        else
                        {
                        <a href="/Login/index" class="btn btn-outline-primary d-xl-block d-lg-block d-md-block d-none">
                            <i class="feather icon-plus-circle"></i>
                            برسی اصالت کالا
                        </a>

                        }

                        <ul class="nav navbar-nav">
                            <li class="nav-item d-none d-lg-block">
                                <div class="bookmark-input search-input">
                                    <div class="bookmark-input-icon"><i class="feather icon-search primary"></i></div>
                                    <input class="form-control input" type="text" placeholder="جستجو در سایت ..."
                                        tabindex="0" data-search="template-list">
                                    <ul class="search-list search-list-bookmark"></ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-language nav-item">
                            <a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-ir"></i><span
                                    class="selected-language">فارسی</span></a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-flag"><a class="dropdown-item"
                                    href=""><i class="flag-icon flag-icon-us"></i> English</a><a
                                    class="dropdown-item" href=""><i
                                        class="flag-icon flag-icon-tr"></i>turkish</a><a class="dropdown-item"
                                    href="/Ar/Home/Index"><i class="flag-icon flag-icon-sa"></i>Arabik</a>
                            </div>
                        </li>
                        <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-expand"><i
                                    class="ficon feather icon-maximize"></i></a></li>
                        <li class="nav-item nav-search">
                            <a class="nav-link nav-link-search"><i class="ficon feather icon-search"></i></a>
                            <div class="search-input">
                                <div class="search-input-icon"><i class="feather icon-search primary"></i></div>
                                <input class="input" type="text" placeholder="جستجو در سایت ..." tabindex="-1"
                                    data-search="template-list">
                                <div class="search-input-close"><i class="feather icon-x"></i></div>
                                <ul class="search-list search-list-main"></ul>
                            </div>
                        </li>




                        @if (User.Identity.IsAuthenticated && User.Identity.Name != "admin")
                        {
                        <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#"
                                data-toggle="dropdown" aria-expanded="false"><i
                                    class="ficon feather icon-bell"></i><span
                                    class="badge badge-pill badge-primary badge-up">@menu.resiver</span></a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header">
                                    <div class="dropdown-header m-0 p-2">
                                        <h3 class="white">@menu.resiver اعلان </h3><span class="notification-title">پیام
                                            جدید</span>
                                    </div>
                                </li>
                                <li class="scrollable-container media-list ps"><a class="d-flex justify-content-between"
                                        href="javascript:void(0)">
                                        <div class="media d-flex align-items-start">
                                            <div class="media-left"><i
                                                    class="feather icon-file font-medium-5 warning"></i></div>
                                            <div class="media-body">
                                                <h6 class="warning media-heading">سون استار</h6><small
                                                    class="notification-text">شما @menu.resiver پیام جدید خوانده شده
                                                    دارید</small>
                                            </div><small>
                                                <time class="media-meta"
                                                    datetime="2015-06-11T18:29:20+08:00"></time></small>
                                        </div>
                                    </a>
                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                    </div>
                                    <div class="ps__rail-y" style="top: 0px; left: -7px;">
                                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                    </div>
                                </li>
                                <li class="dropdown-menu-footer"><a class="dropdown-item p-1 text-center"
                                        href="/msg/index">دیدن تمام اعلان ها</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <div class="user-nav d-sm-flex d-none">
                                    <span class="user-name text-bold-600"></span><span class="user-status">
                                    </span>
                                </div><span>
                                    @if (User.Identity.Name != "profile.png")
                                    {
                                    <img class="round" src="~/fileupload/@User.Identity.Name" alt="avatar" height="40"
                                        width="40">

                                    }
                                    else
                                    {
                                    <img class="round" src="~/app-assets/images/icons/user.png" alt="avatar" height="40"
                                        width="40">

                                    }
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/profile/index"><i
                                        class="feather icon-user"></i>پروفایل</a>
                                <a class="dropdown-item" href="/msg/index"><i class="feather icon-mail"></i> پیام ها
                                </a>
                                <a class="dropdown-item" href="/order/index"><i class="feather icon-check-square"></i>
                                    سفارشات</a>

                                <div class="dropdown-divider"></div><a class="dropdown-item" href="/home/exit"><i
                                        class="feather icon-power"></i> خروج</a>
                            </div>
                        </li>
                        }
                        else if(User.Identity.Name == "admin")
                        {

                        <li class=" dropdown-user nav-item">
                            <a class="btn btn-outline-primary mt-1 mr-lg-1 mr-xl-1 mr-md-1 mr-1"
                                href="/admin/home/index">
                                ورود به پنل مدیریت

                            </a>

                        </li>

                        }else{
                        <li class=" dropdown-user nav-item">
                            <a class="btn btn-outline-primary mt-1 mr-lg-1 mr-xl-1 mr-md-1 ml-1" href="/login/index">
                                ورود

                            </a>

                        </li>
                        <li class=" dropdown-user nav-item">
                            <a class="btn btn-outline-primary mt-1 mr-lg-1 mr-xl-1 mr-md-1 mr-1" href="/login/register">
                                ثبت نام

                            </a>

                        </li>

                        }

                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    <div class="horizontal-menu-wrapper">
        <div class="header-navbar navbar-expand-sm navbar navbar-horizontal floating-nav navbar-light navbar-without-dd-arrow navbar-shadow menu-border"
            role="navigation" data-menu="menu-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row ">
                    <li class="nav-item mr-auto">
                        <a href="index.html" style="margin-top:0px;padding: 25px;">

                            <img src="~/app-assets/images/icons/logo.png" />
                        </a>
                    </li>
                    <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                                class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i
                                class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary"
                                data-ticon="icon-disc"></i></a></li>
                </ul>
            </div>
            <!-- Horizontal menu content-->
            <div class="navbar-container main-menu-content justify-content-end" data-menu="menu-container">
                <!-- include ~/includes/mixins-->
                <div class="row justify-content-center">
                    <ul class="nav navbar-nav justify-content-center " id="main-menu-navigation"
                        data-menu="menu-navigation">
                        <li class="dropdown nav-item active">
                            <a class=" nav-link" href="/home/index"><i class="feather icon-home"></i><span
                                    data-i18n="Dashboard">صفحه اصلی</span></a>

                        </li>
                        <li class="dropdown nav-item" data-menu="dropdown">
                            <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i
                                    class="fa fa-shopping-cart"></i><span data-i18n="Apps">لیست محصولات</span></a>
                            <ul class="dropdown-menu">

                                @foreach (var item in menu.cat)
                                {
                                if (item.FatherIdCat==-1)
                                {

                                <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a
                                        class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"
                                        data-i18n="User"><i class="fa fa-check-square-o"></i>@item.NameCat</a>
                                    <ul class="dropdown-menu">
                                        @foreach (var item1 in menu.cat)
                                        {
                                        if (item1.FatherIdCat == item.Id)
                                        {
                                        <li data-menu=""><a class="dropdown-item" href="/product/index/@item1.Id"
                                                data-toggle="dropdown" data-i18n="List"><i
                                                    class="feather icon-circle"></i>@item1.NameCat</a>
                                        </li>
                                        }

                                        }



                                    </ul>
                                </li>
                                }
                                }




                            </ul>
                        </li>
                        <li class="dropdown nav-item" data-menu="dropdown">
                            <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i
                                    class="fa fa-newspaper-o"></i><span data-i18n="Apps">اخبار و وبلاگ</span></a>
                            <ul class="dropdown-menu">

                                @foreach (var item in menu.cat)
                                {
                                if (item.FatherIdCat==-2)
                                {

                                <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a
                                        class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"
                                        data-i18n="User"><i class="fa fa-check-square-o"></i>@item.NameCat</a>
                                    <ul class="dropdown-menu">
                                        @foreach (var item1 in menu.cat)
                                        {
                                        if (item1.FatherIdCat == item.Id)
                                        {
                                        <li data-menu=""><a class="dropdown-item" href="/blog/index/@item1.Id"
                                                data-toggle="dropdown" data-i18n="List"><i
                                                    class="feather icon-circle"></i>@item1.NameCat</a>
                                        </li>
                                        }

                                        }



                                    </ul>
                                </li>
                                }
                                }

                            </ul>
                        </li>













                        <li class="dropdown nav-item" data-menu="dropdown">
                            <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i
                                    class="fa fa-user-circle"></i><span data-i18n="Apps">نمایندگی ها و
                                    کارشناسان</span></a>
                            <ul class="dropdown-menu">



                                <li data-menu=""><a class="dropdown-item" href="/expert/index"
                                        data-toggle="dropdown" data-i18n="List"><i class="feather icon-circle"></i>لیست
                                        کارشناسان</a>
                                </li>

                                <li data-menu=""><a class="dropdown-item" href="/agancy/index"
                                        data-toggle="dropdown" data-i18n="List"><i class="feather icon-circle"></i>لیست
                                        نمایندگی ها</a>
                                </li>






                            </ul>
                        </li>


                        <li class=" nav-item">
                            <a class=" nav-link" href="/gallery/index"><i class="fa fa-picture-o"></i><span>گالری تصاویر</span></a>

                        </li>
                        <li class=" nav-item">
                            <a class=" nav-link" href="/teaser/index"><i class="fa fa-play-circle"></i><span
                                    data-i18n="Apps">ویدیوها</span></a>

                        </li>
                        <li class=" nav-item">
                            <a class=" nav-link" href="/contact/index"><i class="fa fa-phone-square"></i><span
                                    data-i18n="Apps">ارتباط با ما</span></a>

                        </li>
                        @foreach (var item in menu.social)
                        {
                        <a target="_blank" href="@item.Instagram" class="fa fa-instagram fa-lg"
                            style="color:#786DF1;padding-left:25px;padding-right:15px;padding-top:15px"></a>
                        <a target="_blank" href="@item.Telegram" class="fa fa-telegram fa-lg"
                            style="color:#786DF1;padding-left:15px;padding-right:15px;padding-top:15px"></a>
                        <a target="_blank" href="@item.Whatsapp" class="fa fa-whatsapp fa-lg"
                            style="color:#786DF1;padding-left:15px;padding-right:15px;padding-top:15px"></a>
                        
                        <a target="_blank" href="@item.Aparat" class="fa fa-play fa-lg"
                            style="color:#786DF1;padding-left:15px;padding-right:15px;padding-top:15px"></a>

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">

                <!-- END: Main Menu-->
                <!-- BEGIN: Content-->
                @RenderBody()
                <!-- END: Content-->
                <!-- BEGIN: Customizer-->
                <!-- End: Customizer-->
                <!-- Buynow Button-->

            </div>
        </div>
    </div>
    <div class="d-xl-none d-lg-none d-md-none d-sm-block d-block col-12  "
        style="position:fixed;z-index:1000 ;bottom:0">
        


        @if (User.Identity.IsAuthenticated)
        {

        <a href="/home/orgin" class="btn btn-primary form-control">
            <i class="feather icon-plus-circle"></i>
            برسی اصالت کالا
        </a> /**/



        /**/
        /**/
        /**/
        }
        else
        {
        <a href="/Login/Index" class="btn btn-primary form-control">
            <i class="feather icon-plus-circle"></i>
            برسی اصالت کالا
        </a>


        }








    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-shadow">
        <p class="clearfix blue-grey lighten-2 mb-0">
            <span class="float-md-left d-block d-md-inline-block mt-25">حقوق کپی رایت &copy; 1399<a
                    class="text-bold-800 grey darken-2" href="http://www.hampadcoteam.ir"
                    target="_blank">همپادکو</a>کلیه حقوق محفوظ است</span><span
                class="float-md-right d-none d-md-block">دست ساز و ساخته شده با<i
                    class="feather icon-heart pink"></i></span>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i
                    class="feather icon-arrow-up"></i></button>
        </p>
    </footer>
    <!-- END: Footer-->
    <!-- BEGIN: Vendor JS-->
    <script src="~/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="~/app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="~/app-assets/vendors/js/extensions/tether.min.js"></script>
    <script src="~/app-assets/vendors/js/extensions/shepherd.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/app-assets/js/core/app-menu.min.js"></script>
    <script src="~/app-assets/js/core/app.min.js"></script>
    <script src="~/app-assets/js/scripts/components.min.js"></script>
    <script src="~/app-assets/js/scripts/customizer.min.js"></script>
    <script src="~/app-assets/js/scripts/footer.min.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/app-assets/js/scripts/pages/dashboard-analytics.min.js"></script>
    <!-- END: Page JS-->
    <!-- BEGIN: Page alaert JS-->
    <script src="~/app-assets/js/scripts/extensions/sweet-alerts.min.js"></script>

    <script src="~/app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>
    <!-- END: Page JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/app-assets/js/scripts/pages/user-profile.min.js"></script>
    <!-- END: Page JS-->
    <!-- BEGIN: Page  list peoductJS-->
    <script src="~/app-assets/js/scripts/pages/app-ecommerce-shop.min.js"></script>
    <!-- END: Page JS-->
    <script src="~/app-assets/vendors/js/ui/prism.min.js"></script>
    <script src="~/app-assets/vendors/js/extensions/wNumb.js"></script>
    <script src="~/app-assets/vendors/js/extensions/nouislider.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/select/select2.full.min.js"></script>

    @* slider *@

    <!-- BEGIN: Page Vendor JS-->
    <script src="~\app-assets\vendors\js\ui\jquery.sticky.js"></script>
    <script src="~\app-assets\vendors\js\extensions\swiper.min.js"></script>
    <script src="~\app-assets\js\scripts\extensions\swiper.min.js"></script>
    <!-- END: Page Vendor JS-->
</body>
<!-- END: Body-->

</html>

<style>
    /*the container must be positioned relative:*/
    .autocomplete {
        position: relative;
        display: inline-block;
        overflow: auto;
    }





    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        /*bottom: 100%;*/
        left: 0;
        right: 0;
        overflow: auto;
    }

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: rgba(250, 250, 255, 0.93);
        border-bottom: 1px solid #eae1e1;
        overflow: auto;
        color: #060606;
    }


    /*when hovering an item:*/
    .autocomplete-items div:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
        overflow: auto;
    }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
        overflow: auto;
    }
</style>
<script>
    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    /*An array containing all the country names in the world:*/
    var countries =  @Html.Raw(Json.Serialize(ViewData["FieldsList"]));
    var countries1 =  @Html.Raw(Json.Serialize(ViewData["FieldsList1"]));
    /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    autocomplete(document.getElementById("myInput"), countries);
    autocomplete(document.getElementById("myInput2"), countries1);
    

</script>