@model ViewModels.AdminViewModel.Category.Vm_Category
<!-- Basic Select2 start -->
@if (ViewBag.er != null)
{
    <p class="alert alert-warning">@ViewBag.er</p>
}
@if (ViewBag.suc != null)
{
    <p class="alert alert-success">@ViewBag.suc</p>
}
<section class="basic-select2">
  <form action="/admin/category/add" method="post">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="row">
            	<div class="col-12 mb-2">
            	</div>
            
            <div class="col-sm-6 col-12">
	            <div class="form-group">
                      <h4 class="card-title"> ثبت دسته جدید و ویرایش   </h4>
				</div>
		    </div>

      	<div class="col-sm-6 col-12">
	        <div class="form-group">
                      <label for="basicInput">انتخاب زبان  </label>
				    	<select class="select2 form-control" asp-for="Language">
						           <option value="fa">فارسی</option>
	                     <option value="en">انگلیسی</option>
	                     <option value="tr">ترکی</option>
	                     <option value="ar">عربی</option>
					  	</select>
			</div>
	    </div>

                <div class="col-sm-6 col-12">
					  <fieldset class="form-group">
                            <label for="basicInput"> نام دسته  </label>
                            <input required type="text" class="form-control" asp-for="NameCat" placeholder=" نام دسته را وارد کنید">
                      </fieldset>
		        </div>

            


        	<div class="col-sm-6 col-12">
	            <div class="form-group">
                      <label for="basicInput"> نام دسته پدر </label>
				    	<select class="select2 form-control" asp-for="FatherIdCat" asp-items="@ViewBag.lselect">
						             
	                     <option value="-1">محصولات</option>
	                     <option value="-2">اخبار و وبلاگ</option>
                        <option value="-3">صفحه اول</option>
                       
					  	</select>
		    	</div>
	        </div>

            
             <div class="col-sm-12 col-12">
                    <fieldset style="text-align: left;" class="form-group position-relative has-icon-left input-divider-left">
                        <button type="submit" class="btn btn-success mr-1 mb-1">ثبت</button>
                        <button type="button" class="btn btn-danger mr-1 mb-1">لغو</button>
                    </fieldset>
                </div>


	        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</section>
<!-- Basic Select2 end -->


   <!-- BEGIN: Content-->
<section id="data-list-view" class="data-list-view-header">
  <!-- DataTable starts -->
  <div class="table-responsive">
    <table class="table data-list-view">
      <thead>
        <tr>
          <th></th>
          <th>ردیف</th>
          <th> نام دسته  </th>
          <th> زبان </th>
          <th> دسته پدر </th>
          <th> عملیات</th>
        </tr>
      </thead>
      <tbody>

@if (ViewBag.list != null)
{
     @foreach (var item in ViewBag.list)
  {
      <tr>
          <td></td>
          <td class="product-category"> 1</td>
          <td class="product-name">@item.NameCat</td>
            <td class="product-category">@item.Language </td>
            @if (@item.FatherIdCat==-2)
            {
                <td class="product-category">اخبار و وبلاگ </td>
            }else if(@item.FatherIdCat==-1)
            {
                <td class="product-category">محصولات </td>
            }else
            {
                <td class="product-category">@item.fathername</td>
            }
              

           <td class="product-action">
             <div class="col-lg-3 col-md-3 mb-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                  @* <button type="button" class="btn btn-primary btn-sm">چپ</button> *@
                  <a href="/admin/category/del/@item.Id" class="btn btn-danger btn-microsoft" onclick="return confirm('آیا از حذف رکورد مورد نظر مطمئن هستید؟')">حذف</a>
                  @* <button type="button" class="btn btn-success  btn-sm">ویرایش</button> *@
                </div>
              </div>
          </td>
        </tr>
  }
} 
 
        


       




      </tbody>
    </table>
  </div>
  <!-- DataTable ends -->

  <!-- add new sidebar starts -->
 
  <!-- add new sidebar ends -->
</section>
<!-- Data list view end -->

        </div>
      </div>
    </div>
    <!-- END: Content-->
